* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {

    overflow: hidden;
    background: url('../images/uni.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    color: #000080;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
}

.image {
    width: 200px;
    height: 150px;
    margin-right: -1290px;
    margin-top: -100px;
}

section {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    min-height: 100vh;
    width: 100%;

}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;

}

h2 {
    font-size: 2em;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #111111;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000080;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #ffffff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #ffffff;
    font-size: 1.2em;
    top: 20px;
}

.forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #111111;
    display: flex;
    justify-content: space-between;
}

.forget label input {
    margin-right: 3px;

}

.forget label a {
    color: #111111;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
}

.submit-button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #eae1e1;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: #111111;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #030364;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}
.custom-radio-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px 20px 8px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .custom-radio-select:focus {
    border-color: #80bdff;
    outline: 0;
  }
  .custom-radio-select option {
    font-size: 16px; 
  }
  .adj-login{
    font-size: 18px;
    margin-right: 10px;
  }
  .adj-select{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top: 18px;
  }